.App {
  margin: 0 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  vertical-align: center;
  height: 100vh;
}

.widget {
  flex: 1;
  flex-basis: 30%;
  border: 1px solid black;
  text-align: center;
  padding: 2em 1em;
}

.weather {
  flex-basis: 60%;
}
